body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}

input[type='checkbox'] {
    width: 250px;
    height: 100px;
    outline: none;
    border: 2px solid black;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    position: relative;
    appearance: none;
}

input[type='checkbox']::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    left: 0;
    top: 50%;
    border-radius: 50px;
    transform: translateY(-50%) scale(0.9);
    background-color: gold;
    transition: all 0.3s;
    border: 2px solid #000;
}

input[type='checkbox']:checked::before {
    left: calc(100% - 102px);
    background-color: #fff;
}

input[type='checkbox']:checked {
    background-color: gold;
}